.idea
.phpunit.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
vendor
package-lock.json
node_modules
*.swp
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-client_wal_index
