parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Variable method call on RichanFongdasen\\Turso\\TursoClient.#'
